<div class="layout-container">

  <div class="container">

    <nav class="nav_menu">

      <div class="logo ">
        <a href="/"> <img src="/themes/vodafone/images/vodafone_logo.svg" alt=""> </a>

        <a href="/">
          Vodafone
        </a>
      </div>

      <div class="items">
        <div class="nav_item-1"> <a href="/">Our Stores</a></div>
        <div class="nav_item-2"><a href="/see_on_map">See On Map</a></div>
        <div class="nav_item-2"><a href="/user/login">Login</a></div>

      </div>
      {{ page.primary_menu }}
    </nav>

    <div class="header">
      {{ page.header }}
      <h1 class="d-block">Vodafone Stores</h1>
      <p class="description">Our stores are located all over the country. Find the one near you.
      </p>
    </div>



    <div class="content">

      {{ page.content }}
    </div>



    <footer class="footer">
      {{ page.footer }}
      <p> © Copyright 2019 by vodafone.</p>
    </footer>
  </div>
</div>{# /.layout-container #}
<!-- <div class="layout-container">
  
  
    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  
      <div class="layout-content">
        <h1>hassan</h1>
        {{ page.content }}
        <img src="/themes/vodafone/images/hassan.jpg" />
  
      </div>{# /.layout-content #}
  
      {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
      {% endif %}
  
      {% if page.sidebar %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar }}
      </aside>
      {% endif %}
  
    </main>
  
    {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
    {% endif %}
  
  </div>{# /.layout-container #} -->